target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#custom ignore
.idea
GC16.iml

#ignoring all coverage test not necessary
/deliverables/report/*
/deliverables/report/it.polimi.ingsw.model/*
/deliverables/report/it.polimi.ingsw.model.God/*
/deliverables/report/it.polimi.ingsw.controller/*
!/deliverables/report/index.html
!/deliverables/report/it.polimi.ingsw.model.God/index.html
!/deliverables/report/it.polimi.ingsw.model/index.html
!/deliverables/report/it.polimi.ingsw.controller/index.html

