target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

#custom ignore
.idea
GC16.iml

#Ignoring .uml file
/deliverables/UML/GC16.uml

#ignoring all coverage test not necessary
/deliverables/report/


#Ignoring META-INF and out
src/main/java/META-INF
out

#ignoring all the javadoc junk files
/deliverables/javadoc/

